#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.center{
  margin: 0 auto;
}

.enLinea{
  display: inline-block;
}

.izq{
  float: left;
}

.der{
  float: right;
}

.gris{
  background: grey;
}
.rojo{
  background: rgb(212, 11, 11);
}

.login{
  margin-top: 15vh;
  padding: 80px;
  border-radius: 5px;
  box-shadow: 4px 2px 4px 4px #252525;

}




.btn-login{
  border-radius: 5px;
  margin-top: 25px;
  width: 120px;
  height: 35px;
  background: none;
  border: 1px solid white;
  color: white;
}

.btn-login:hover{
  color: rgb(161, 161, 0);
  border: 1px solid rgb(161, 161, 0);
  box-shadow: 4px 2px 4px 4px #0c0c0c;



}


body{
  position: justify;
  background-image: url("https://images.hdqwalls.com/wallpapers/soccer-players-football-4k-q3.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;


}



.inp{
  background: transparent;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
